{% extends 'expense_add/base.html' %}

{% load static %}

{% block content %}

    <style>
        body { 
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        
        }

        footer {
            position: sticky;
            bottom: 0;
        }

        .footer-dashboard {
            flex: 1; 
        }

    </style>

<div class="text-center">

    <h3> Welcome to your dashboard, {{user}}! </h3>
</div>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}"> 
        Add new expense 
    </a>

    <hr>

    <div class="table-responsive">
    <table class="table table-hover table-bordered" id="expenseTable">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Currency</th>
                <th scope="col">Cost</th>
                <th scope="col">View</th>
            </tr>
        </thead>

        <tbody>
            {% if expenses %}
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.id }}</td>
                        <td>{{ expense.expense_type }}</td>
                        <td>{{ expense.currency }}</td>
                        
                        <td class="cost">{{ expense.cost }}</td>
                        <td> <a href="{% url 'record' expense.id %}">Click here</a> </td>
                    </tr>
                   

                {% endfor %}
            {% endif %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"><strong>  THE TOTAL COST: </strong></td>
                <td><span id="totalCost">0.00 {currency}</span></td>
                <td></td>
            </tr>
        </tfoot>

    </table>
</div>

<script src="{% static 'js/app.js' %}"></script>

{% endblock %}