    {% extends 'expense_add/base.html' %}
    {% load static %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django-Setup</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>

    <body>
        <br>
        <br>

        <div class="text-center">

            <h3> BudgetBuddy... Your financial assistant </h3>

            <br>

            <h5> Keep tracking of your expenses easily! </h5>

            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account </a>
    </body>

    </html>

    {% endblock %}