    {% extends 'expense_add/base.html' %}
    {% load static %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django-Setup</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
            }

            /* Main content should fill available space */
            .content {
                flex-grow: 1;
                /* This ensures content takes up space and pushes the footer down */
            }

            .footer {
                margin-top: auto;
            }
        </style>

    </head>

    <body>
        <br>
        <br>

        <div class="content container">
            <div class="text-center">

                <h3> BudgetBuddy... Your financial assistant </h3>

                <br>

                <h5> Keep tracking of your expenses easily! </h5>

                <hr>
                <br>

                <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account </a>

                <div>

                    <section style="width: 65%; height: 15%; margin: 0 auto; overflow: hidden; border-radius: 10px;">
                    
                        <img style="width: 80%; height: 80%; object-fit: cover;"
                            src="https://static.vecteezy.com/system/resources/previews/004/361/569/non_2x/financial-planning-of-the-work-week-free-photo.jpg"
                            alt="">

                    </section>
                    <p> Nowadays for most of us it's quite challenging to understand how much money is spent
                        during a certain period of time. And we experience some difficulties when it comes to money
                        spending and checking where did the money go.
                    </p>

                    <p>Adding some new text here</p>


                </div>
            </div>

        </div>

    
    </body>



    </html>

    {% endblock %}