<!-- read record = view record -->

{% extends 'expense_add/base.html' %}

{% block content %}

<div class="card">

    

    <div class="card-body">
        <p>  <strong> ID: </strong> {{record.id}} </p>  
        <p>  <strong> Type: </strong> {{record.expense_type}} </p>  
        <p>  <strong> Currency:  </strong> {{record.currency}} </p> 
        <p>  <strong> Cost:  </strong> {{record.cost}} </p> 

    </div>

</div>

<br>

<a href="{% url 'dashboard' %}" class="btn btn-success"> Back </a>

&nbsp;

<a href="{% url 'update-record' record.id %}" class="btn btn-info"> Update record </a>

&nbsp;

<a href="{% url 'delete-record' record.id  %}" class="btn btn-danger"> Delete record </a>

&nbsp;



{% endblock %}