{% extends 'expense_add/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<body>

    <div class="container bg-light p-3 form-layout">

        <h3> Sign up to track your expenses</h3>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn-btn-primary w-50 btn-block p-1"> Create account</button>

        </form>

        <br>

        <div class="text-center">
            <p>Already have your account?</p> <a href="{% url 'my-login' %}"> Login </a>
        </div>

    </div>

</body>

{% endblock %}